@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
html {
  background: url(assets/cutecitybg.png) center top;
  background-size: cover;
  background-repeat: repeat-x;
  background-color: #ffddeb;
  font-family: 'Pacifico', cursive;
}
h2 {
  font-family: 'Pacifico', cursive;
  font-size: 75px;
  font-weight: 100;
  color: #9987c5;
  text-shadow: -4px -1px 0 #ffddeb, 4px -1px 0 #ffddeb, -4px 1px 0 #ffddeb, 4px 1px 0 #ffddeb;
}
input {
  width: 100%;
  padding: 10px;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

input.search {
  font-family: 'Pacifico', cursive;
  color: #ffa9a8;
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #a9f1df;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
}